In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Insurance_Data.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [7]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=1)

In [9]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [10]:
scy=StandardScaler()
y_train=scy.fit_transform(y_train)
y_test=scy.fit_transform(y_test)

In [11]:
X_train

array([[ 0.79715222, -0.70211414, -0.90400228,  0.97676557, -0.50966434],
       [-1.27108519, -0.70375759, -0.08567913, -1.02378711, -0.50966434],
       [-0.98581107, -0.73333977, -0.90400228,  0.97676557, -0.50966434],
       ...,
       [ 0.86847075,  0.70303946,  0.73264401, -1.02378711,  1.96207567],
       [ 0.0839669 , -1.39072157,  0.73264401, -1.02378711,  1.96207567],
       [ 1.29638193, -0.4506656 , -0.08567913,  0.97676557, -0.50966434]])

In [12]:
from sklearn.ensemble import RandomForestRegressor
regressor=RandomForestRegressor(criterion='mae', max_features = 'log2', n_estimators = 100)
regressor.fit(X_train, y_train)

C:\Users\Hp\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\ensemble\_forest.py:407: FutureWarning: Criterion 'mae' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='absolute_error'` which is equivalent.
  FutureWarning,

RandomForestRegressor(criterion='mae', max_features='log2')

In [13]:
y_pred=regressor.predict(X_test)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(y_pred,y_test)

In [15]:
r_score

0.7940430999603291

In [16]:
import pickle
filename="finalised_model_RandomForestRegressor.sav"

In [17]:
pickle.dump(regressor,open(filename,'wb'))

In [18]:
preinput=sc.transform([[32,43,2,1,1]])

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [19]:
preinput

array([[-0.48658135,  2.02437687,  0.73264401,  0.97676557,  1.96207567]])

In [20]:
loaded_model=pickle.load(open("finalised_model_RandomForestRegressor.sav",'rb'))
result=loaded_model.predict(preinput)

In [21]:
result

array([2.09717991])

In [22]:
preoutput=scy.inverse_transform([result])

In [23]:
preoutput

array([[38221.64764855]])